
body {
    background-image: url('images(7).jpg') ;
    backdrop-filter: blur(6px);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
}
body img{
    filter: blur(1px);
}
.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fad02c;
}

.buttons {
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.error-404 {
    background-color: #fad02c;
    color: #333;
    border: 2px solid #333;
}

.error-500 {
    background-color: #333;
    color: #fad02c;
    border: 2px solid #fad02c;
}

.error-404:hover {
    background-color: #e6b800;
    color: #fff;
    border-color: #e6b800;
}

.error-500:hover {
    background-color: #555;
    color: #fad02c;
    border-color: #555;
}
